@font-face {
    font-family: 'Poppins-Black';
    src: url('./Poppins/Poppins-Black.ttf');
}

@font-face {
    font-family: 'Poppins-BlackItalic';
    src: url('./Poppins/Poppins-BlackItalic.ttf');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('./Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins-BoldItalic';
    src: url('./Poppins/Poppins-BoldItalic.ttf');
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('./Poppins/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'Poppins-ExtraBoldItalic';
    src: url('./Poppins/Poppins-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('./Poppins/Poppins-Regular.ttf');
}
