<div class="parent">
    <div class="container" [ngClass]="isSignDivVisiable ? 'active' :'' " id="container">

        <div class="form-container sign-up">
            <form>
                <h1>Tạo tài khoản</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>hoặc sử dụng email để đăng ký</span>
                <mat-form-field appearance="fill">
                    <mat-label>Tên tài khoản</mat-label>
                    <input matInput type="text" required placeholder="Nguyễn Văn A">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" required placeholder="nguyenvana@gmail.com">
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Mật khẩu</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" required placeholder="Abc@123">
                    <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <button mat-raised-button class="btn btn-primary" (click)="onRegister()">Đăng ký</button>
            </form>
        </div>

        <div class="form-container sign-in">
            <form [formGroup]="formLogin">
                <h1>Đăng nhập</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>hoặc sử dụng tài khoản</span>

                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" required placeholder="nguyenvana@gmail.com">
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Mật khẩu</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required
                        placeholder="Abc@123">
                    <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <a href="#">→ Quên mật khẩu? ←</a>
                <button mat-raised-button type="submit" class="btn btn-primary" (click)="onLogin()">Đăng nhập</button>
            </form>
        </div>

        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Chào mừng trở lại!</h1>
                    <p>Nhập thông tin cá nhân của bạn để sử dụng tất cả tính năng của trang web</p>
                    <button mat-raised-button class="btn btn-primary btn-transparent"
                        (click)="isSignDivVisiable = false">Đăng nhập</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Xin chào!</h1>
                    <p>Đăng ký với thông tin cá nhân của bạn để sử dụng tất cả tính năng của trang web</p>
                    <button mat-raised-button class="btn btn-primary btn-transparent"
                        (click)="isSignDivVisiable = true">Đăng
                        ký</button>
                </div>
            </div>
        </div>

    </div>
</div>
