mat-card {
    max-width: 400px;
    margin: 2em auto;
    padding: 2em;
    position: relative;

    form {
        margin-top: 5em;
    }
}

mat-form-field {
    width: 100%;
    margin-bottom: 1em;
}

.form-login-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
