<mat-card>
    <mat-toolbar color="primary" class="form-login-title">
        <span class="fill-remaining-space title-modal">Đăng nhập</span>
    </mat-toolbar>

    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required placeholder="nguyenvana@gmail.com">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Mật khẩu</mat-label>
            <input matInput formControlName="password" required [placeholder]="placeholderText">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="!formLogin.valid">Đăng nhập</button>
    </form>
</mat-card>
