:root {
    --primary-1: #512da8;
    // --primary-1: red;
    --primary-2: #5c6bc0;
    --primary-3: #c9d6ff;

    // Font sizes
    --base-font-size: 10px;
    --normal-font-size: 1.4rem;
    --large-font-size: 2.4rem;
    --small-font-size: 1.2rem;

    // Font weight
    --normal-font-weight: 400;
    --bold-font-weight: 600;

    // text color
    --text-main-1: #000000;
    --text-dark-1: #000000;
    --text-light-1: #ffffff;

    // background color
    --background-white-1: #ffffff;
    --background-white-2: #e2e2e2;
    --background-input-1: #eee;


    // shadow
    --box-shadow-1: 0 5px 15px rgba(0, 0, 0, 0.35);
}